@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Edit Page</h1>
<br />
@using (Html.BeginForm("EditBlog", "Blogs", FormMethod.Post))
{
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x => x.BlogId, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Thumbnail Url")
    @Html.TextBoxFor(x => x.ThumbnailImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Image Url")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Category")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.categoryvalues, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Content")
    @Html.TextAreaFor(x => x.Content, 10, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Edit</button>
}